<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/assets/cloudy_128882.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get the weather</p>
            
        </div>
        {{>footer}}
    </body>
    <script src = '/js/app.js'></script>
</html>
